@charset "UTF-8";
#warning{
	font-size : 16px;
	font-weight : 700;
	color: red;
}
#div-table{			
	border-radius:16px;
	box-shadow: 0 0 8px;
	overflow: hidden;
	margin-top: 70px;
}
.cellBtn{
	white-space:nowrap;
	text-align:center;
	width: 5%;
}
.read-only{
	border: 0;
	box-shadow:none;
	background-color:white;
}
.read-only:focus{
	background-color: white;
	outline : none;
}
.btn-outline-primary{
	background-color: white;
}
d{
	vertical-align: middle;
}
input:focus, textarea:focus{
	background-color: rgb(200,200,200);
	outline-color: rgb(200,200,200);
}
a{
	text-decoration: none;	
}
h1{
	text-align:center;
}
